//COLORS

$progress-bar-1: #28a745;
$progress-bar-2: #007bff;
$acronym: plum;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: rgb(218, 218, 218);
$color-grey-dark-4: rgba(255, 255, 255, 0.664);

$white: #fff;
$black: #000;
