<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="pb-2">
                <app-filter class="pr-2" #filterComponent (filterChange)="applyFilter($event)"></app-filter>
                <button class="btn btn-primary" (click)="resetFilter()">Remover filtro</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <app-users-table [dataSource]="users" *ngIf="users"></app-users-table>
        </div>
    </div>
</div>