table {
    width: 100%;
    align-items: center;

    th {
        text-align: center;
    }

    td {
        text-align: left;
    }

    .mat-column-EmployeeStartDate {
        width: 20%;
        text-align: center;
    }
}

[data-letters]:before {
    content:attr(data-letters);
    display: inline-block;
    font-size: 1em;
    width: 2.5em;
    height: 2.5em;
    line-height: 2.5em;
    text-align: center;
    border-radius: 50%;
    background: plum;
    vertical-align: middle;
    margin-right: 1em;
    color: white;
}

p {
    margin-bottom: 0;
}

::ng-deep .available-days .mat-progress-bar-fill::after {
    background-color: #28a745;
}

::ng-deep .available-days .mat-progress-bar {
    border-radius: 2px;
}

::ng-deep .used-days .mat-progress-bar-fill::after {
    background-color: #007bff;
}

::ng-deep .used-days .mat-progress-bar {
    border-radius: 2px;
}
