<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="personalInformation">
        <th mat-header-cell *matHeaderCellDef> Información personal </th>
        <td mat-cell *matCellDef="let element">
          <span>
            <p> {{element.Acronym}}</p>
          </span>
          <span class="vertical">
            {{ element.FirstName }} {{ element.LastName }} 
          </span>
        </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ID </th>
        <td mat-cell *matCellDef="let element"> {{ element.UserKey }} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="vacation">
        <th mat-header-cell *matHeaderCellDef> Vacaciones </th>
        <td mat-cell *matCellDef="let element"> {{ element.UsedDays }} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="incorporationDate">
        <th mat-header-cell *matHeaderCellDef> Fecha de incorporación a la empresa </th>
        <td mat-cell *matCellDef="let element"> {{ element.EmployeeStartDate | date }} </td>
      </ng-container>
    
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  
    <!-- <mat-paginator [pageSizeOptions]="[10, 20]" showFirstLastButtons></mat-paginator> -->
</div>